.post_body {
  position: relative;
  padding: 20px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  background-color: var(--default-background);
  border: 1px solid #66676f31;
}

.photo_user {
  width: 42px;
  height: 40px;
  border-radius: 20px;
  background-color: #3c3d4386;
  margin-right: 15px;
}

.buttons button {
  width: 100px;
  background-color: transparent;
  border: 1px solid #66676f31;
  height: 30px;
  border-radius: 5px;
  margin-left: 10px;
  transition: 400ms;
}

.buttons button:hover {
  transition: 400ms;
  border: none;
  background-color: #66676f31;
}

.photo_comment {
  height: 25px;
  width: 25px;
  border-radius: 20px;
  background-color: #3c3d4386;
  margin-right: 15px;
}

.post_body div input {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #2e2f3486;
  border-radius: 20px 0px 0px 20px;
  padding-left: 10px;
}

.post_body div button {
  width: 60px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #2e2f3486;
  border-radius: 0px 20px 20px 0px;
}

.optionsNone{
  display: none;
}

.options{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  right: 10px;
  width: 180px;
  border-radius: 5px;
  background-color: var(--default-background);
  border: 1px solid #535458;
  padding: 10px;
}

.edit{
  border: none;
  background-color: transparent;
  width: 100%;
  color: white;
}

.saveButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  border-radius: 5px;
  color: white;
  background-color: var(--default-background-LGO);
  height: 25px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
  transition: 600ms;
}

.saveButtonCancel {
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  border-radius: 5px;
  color: white;
  border: solid 1px var(--default-background-LG);
  height: 25px;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
  transition: 600ms;
}

.saveButton:hover {
  background-color: var(--default-background-LG);
}