.body_navbar {
  border-bottom: solid 1px var(--default-background);
  height: 80px;
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: var(--default-background-L1);
}

.logo_navbar {
  display: flex;
  justify-content: center;
  width: 5%;
}

.title{
  font-size: 25px;
  font-weight: 800;
  font-style: italic;
  color: white;
  width: 200px;
}

.items_navbar {
  width: 30%;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.items_navbar div{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 350ms;
}
.items_navbar div:hover{
  color: rgba(255, 255, 255, 0.709);
}

.body_navbar div button {
  border-bottom: none;
  margin: 0px 10px;
  color: white;
  border: 1px solid var(--default-background-LGO);
  background-color: transparent;
  font-family: var(--default-font);
  border-radius: 4px;
  padding: 8px 20px;
}
