.body_navbar {
  position: relative;
  top: 0px;
  border-bottom: solid 1px var(--default-background);
  height: 80px;
  display: flex;
  z-index: 1;
  position: fixed;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: var(--default-background-L1);
}

.logo_navbar {
  display: flex;
  justify-content: center;
  width: 5%;
}

.logo_profile{
  width: 50px;
  height: 50px;
  border: solid 2px var(--default-background);
  border-radius: 50%;
}

.optionsNone{
  display: none;
}

.options{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  right: 145px;
  top: 70px;
  width: 180px;
  border-radius: 5px;
  background-color: var(--default-background);
  border: 1px solid #535458;
  padding: 10px;
  color: white;
}

.title {
  font-size: 25px;
  font-weight: 800;
  font-style: italic;
  color: white;
  width: 200px;
}

.items_navbar {
  width: 40%;
}

.items_navbar div {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 350ms;
}

.items_navbar div:hover {
  color: rgba(255, 255, 255, 0.709);
}

.body_navbar div button {
  margin: 0px 10px;
  font-family: var(--default-font);
  border-radius: 4px;
  padding: 8px 20px;
  transition: 600ms;
}

.buttonLogin {
  color: white;
  border: 1px solid var(--default-background-LG);
  background-color: transparent;
}

.buttonRegister {
  color: black;
  border: none;
  background-color: var(--default-background-LG);
  font-family: var(--default-font);
}

.buttonLogin:hover {
  color: white;
  border: 1px solid var(--default-background-LGO);
  background-color: transparent;
}

.buttonRegister:hover {
  color: black;
  border: none;
  background-color: var(--default-background-LGO);
  font-family: var(--default-font);
}

@media(max-width: 768px) {
  .body_navbar {
    display: flex;
    z-index: 1;
    position: fixed;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }

  /* .items_navbar {
    display: none;
  } */

  .body_navbar div button {
    margin: 0px 6px;
    font-family: var(--default-font);
    border-radius: 4px;
    padding: 6px 15px;
    transition: 600ms;
  }
}
