.body_responsive_navbar {
  display: none;
}

.body_navbar {
  border-bottom: solid 1px var(--default-background);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-family: cursive;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: var(--default-background-L1);
}

.logo_navbar {
  display: flex;
  justify-content: center;
  width: 10%;
}

.logo_navbar div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: rgb(217, 207, 207);
}

.items_navbar {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}

.search_navbar {
  display: flex;
  justify-content: center;
  width: 55%;
}

.search_navbar input {
  width: 370px;
  height: 40px;
  color: white;
  font-family: cursive;
  border-radius: 5px;
  padding: 0px 10px;
  background-color: var(--default-background);
  border: none;
}

.search_navbar input:hover {
  background-color: rgb(0, 0, 2);
  border: none;
}

.body_navbar div button {
  border-bottom: none;
  margin: 0px 10px;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.201);
  background-color: transparent;
  font-family: cursive;
  border-radius: 10px;
  padding: 8px 20px;
}

@media (max-Width: 780px) {
  .body_responsive_navbar {
    display: block;
    border-bottom: solid 1px var(--default-background);
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: cursive;
    font-size: 14px;
    font-weight: 500;
    color: white;
    padding: 10px;
  }

  .body_navbar {
    display: none;
  }

  .logo_navbar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }

  .logo_navbar div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
  }

  .items_navbar {
    margin: 2%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .items_navbar p {
    padding: 1% 0%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
  }

  .search_navbar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0px 10px;
  }

  .search_navbar input {
    width: 100%;
  }

  .search_navbar input:hover {
    background-color: rgb(0, 0, 2);
    border: none;
  }

  .dnone {
    display: none;
  }

  .dblock {
    display: block;
  }
}