.body_post {
  margin-top: 20px;
  background-color: var(--default-background);
  min-height: 180px;
  padding: 0px 20px;
  border-radius: var(--border-radius-L1);
}

.label_post {
  height: 40%;
  padding: 15px 0px;
  border-bottom: solid var(--default-background-L1) 2px;
  display: flex;
  align-items: center;
}

.label_post div {
  width: 35px;
  height: 35px;
  background-color: var(--default-background-L1);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label_post p {
  padding-left: 10px;
  font-size: 13px;
}

.info_post {
  height: 60%;
  padding: 10px 0px;
}

.info_post h4 {
  font-size: 17px;
}

.info_post p {
  font-size: 12px;
}

.info_post div div {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 10px;
  background-color: yellow;
}

.info_post div {
  display: flex;
  align-items: center;
}

.info_post div i {
  font-size: 10px;
}

@media (max-Width: 780px){
  .body_post {
    margin-top: 10px;
    background-color: var(--default-background);
    min-height: 100px;
    padding: 0px 20px;
    border-radius: var(--border-radius-L1);
  }
}