.body_home {
  background: var(--default-background-L1);
  min-height: 100%;
  width: 100%;
  font-family: cursive;
  color: white;
}

.info_home {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.repos_home {
  background-color: black;
  border-radius: var(--border-radius-L1);
  width: 20%;
  height: 90vh;
}

.repos_home div {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.repos_home div button {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: rgb(6, 164, 6);
  color: white;
  border: none;
  border-radius: 3px;
}

.repos_home input {
  margin: 0px 5%;
  border: none;
  background-color: var(--default-background-L1);
  color: white;
  padding: 10px;
  width: 90%;
  font-family: cursive;
  border-radius: 5px;
}

.posts_home {
  overflow-y: auto;
  width: 50%;
  height: 90vh;
}

.explore_home {
  width: 20%;
  height: 90vh;
}

@media (max-Width: 780px) {
  .repos_home {
    display: none;
  }

  .posts_home {
    background-color: black;
    width: 90%;
    height: 90vh;
  }

  .explore_home {
    display: none;
  }
}