.body_home {
  overflow-y: hidden;
  background: var(--default-background-L1);
  width: 100%;
  font-family: var(--default-font);
  color: white;
  height: 100vh;
}

.info_home {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.repos_home {
  background-color: black;
  border-radius: var(--border-radius-L1);
  width: 20%;
  height: 80vh;
}

.repos_home div {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.repos_home div button {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: rgb(6, 164, 6);
  color: white;
  border: none;
  border-radius: 3px;
}

.repos_home input {
  margin: 0px 5%;
  border: none;
  background-color: var(--default-background-L1);
  color: white;
  padding: 10px;
  width: 90%;
  font-family: var(--default-font);
  border-radius: 5px;
}

.posts_home {
  overflow: scroll;
  width: 50%;
  height: 85vh;
}

.posts_home::-webkit-scrollbar {
  width: 5px;
}

.posts_home::-webkit-scrollbar-thumb {
  background-color: var(--default-background-L1);
}

.repos_list {
  font-size: 13px;
  margin: 20px 0%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 57vh;
}

.repos_list::-webkit-scrollbar {
  width: 5px;
}

.repos_list::-webkit-scrollbar-thumb {
  background-color: var(--default-background);
}

.repos_list a {
  text-decoration: none;
  padding-top: 5px;
  padding-left: 20px;
}

.explore_home {
  width: 20%;
  height: 90vh;
}

@media (max-Width: 780px) {
  .repos_home {
    display: none;
  }

  .posts_home {
    background-color: transparent;
    width: 90%;
    height: 90vh;
  }

  .explore_home {
    display: none;
  }
}